/* TODO: Figure out how to change this to your liking */
/* Pulled from monsters-rolodex from Yihua Zhang's Udemy course "Complete React Developer in 2022" */

.card-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: rgb(60, 165, 165);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-family: Arial, Helvetica, sans-serif
}

.card-container:hover {
  transform: scale(1.01);
}