.logo {
  height: 60px;
  width: 100px;
}

/* .navigation-container {
  height: 65px;
  width: 100%;
  background-color: rgb(69, 187, 187);
  box-shadow: 0 2px 2px 2px rgb(79, 90, 101);
}

.navigation {
  width: 90%;
}

.logo-container {
  float: left;
  height: 60px;
  padding-top: 5px;
  width: 100px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.logo {
  height: 65px;
  width: 65px;
}

.nav-link-container {
  float: left;
  height: 65px;
  width: 100px;
  text-align: center;
}

.nav-link-container:hover {
  background-color: #a6e9e9;
}

.nav-link {
  padding-top: 20px;
  color: rgb(0, 0, 0);
  font-weight: 750;
  font-size: large;
}

.account-dropdown {
  float: right;
  position: relative;
  text-decoration: none;
}

.display-name {
  height: 45px;
  padding-top: 20px;
  width: auto;
  color: rgb(0, 0, 0);
  font-weight: 750;
  font-size: large;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a6e9e9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: 750;
  font-size: 16px;
  border-radius: 10px;
  
  color:#000000;
}

.account-dropdown:hover .dropdown-content {
  display: block;
} */
