.sign-in-wrapper {
  display: flex;
  flex-direction: column;
}

.sign-in-logo {
  height: 70px;
  width: 100px;
}

.error-message {
  background-color: #ecb3b3;
  color: rgb(75, 3, 3);
  font-weight: 750;
  width: 350px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.username,
.password {
  padding-bottom: 30px;
}

.username label,
.password label {
  font-size: 20px;
  font-weight: 750;
}

.username input,
.password input {
  font-size: 16px;
  width: 350px;
  height: 35px;
  border-radius: 5px;
}


